@font-face {font-family: Modern; src: url('MOD20.TTF');}

.container{
    position: relative;
    margin: 0%;
    padding: 0%;
    color: black;
}

.link{
    cursor:pointer;
}

body{
    background-color: #e5e5ec;
}

#datum{
    position: absolute;
    font-size: 18px;
    font-family: 'Modern', serif;
    margin-top:20px;
    top: 147px;
    right: 90px;
}

.ikke{
    position: absolute;
    width: 287px;
    top: 427px;
    left: 350px;
}

#homepage {
    position: absolute;
    top: 85px;
    left:20px;
    cursor: pointer;
    border:none;
    background: none;
    padding: 0;
}

#homepage img {
    width: 250px;
}

.container .btnM {
    position: absolute;
    top:300px;
    left: 27px;
    border:none;
    background: none;
    margin: 0;
    padding: 0;
    font-family: 'Modern', serif;
    font-size: 20px;
}
.container .btnP {
    position: absolute;
    top:300px;
    left: 350px;
    border:none;
    background: none;
    margin: 0;
    padding: 0;
    font-family: 'Modern', serif;
    font-size: 20px;
}
.container .btnB {
    position: absolute;
    top:300px;
    right: 350px;
    border:none;
    background: none;
    margin: 0;
    padding: 0;
    font-family: 'Modern', serif;
    font-size: 20px;
}
.container .btnL {
    position: absolute;
    top:300px;
    right: 33px;
    border:none;
    background: none;
    margin: 0;
    padding: 0;
    font-family: 'Modern', serif;
    font-size: 20px;
}

a:link {
    color:#32332F;
    text-decoration: none;
}

a:visited {
    color: #32332F;
}

.Kopje1{
    position: absolute;
    top: 425px;
    right: 173px;
    font-family: 'Modern', serif;
    font-size: larger;
    color: #32332F;
}
.aankondiging{
    position: absolute;
    top: 460px;
    right: 173px;
    left: 785px
}

.projecten{
    position:absolute;
    top:390px;
    left: 30px;
    font-size: 30px;
    font-family: 'Modern', serif;
}

.persoonlijkTitel{
    position: absolute;
    top:445px;
    left: 45px;
    font-size: 25px;
    font-family: 'Modern', serif;
    background-color: #CC7D7A;
}

.persoonlijk{
    position:absolute;
    top:483px;
    width: 230px;
    left:45px;
    font-size: 17px;
    font-family: 'Modern', serif;
    background-color: #CC7D7A;
}

.mercedesTitel{
    position: absolute;
    top:635px;
    left: 45px;
    font-size: 25px;
    font-family: 'Modern', serif;
    background-color: #CC7D7A;  
}

.mercedes{
    position:absolute;
    top:675px;
    width: 230px;
    left:45px;
    font-size: 17px;
    font-family: 'Modern', serif;
    background-color: #CC7D7A;
}
